---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from '../../components/Hero.astro';
import About from '../../components/About.astro';
import Projects from '../../components/Projects.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="Ãngel Bielsa - Full Stack Developer" lang="en">
  <Navbar lang="en" />
  <main>
    <Hero lang="en" />
    <About lang="en" />
    <Projects lang="en" />
    <Contact lang="en" />
  </main>
  <Footer lang="en" />
</Layout>